body{
	margin:0;
	width:100vw;
	height:100vh;
	display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 20px;
    background-image: url("bg.jpg");
	} 
#si{
    height: 100%;
    width: 100%;
}
video{
    height: 90%;
    width: 90%;
    
}
marquee{
    width: 100%;
    color: white;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 45px;
    }
.grid{
	display:grid;
	grid-template-columns:repeat(11, 1fr);
	grid-template-rows: repeat(7, 1fr);
	height: 95vh;
	width: 95vw;
	gap:15px;
}
.a{
	background-color: burlywood;
	border: 5px groove gray;
	border-radius: 45px;
	display: flex;
    align-items: center;
    justify-content: center;
    color: white ;
    transition: all;
}

.a :hover{
    transform: scale(1.5);
}


.A{
    grid-column-start: 1;
    grid-column-end: 12;
}

.B{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
}

.C{
    padding: 25px;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
}

.D{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
}
.E{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 6;
}

.F{
    grid-column-start: 1;
    grid-column-end: 10;
}

.G{
    grid-column-start: 10;
    grid-column-end: 12;
}

.H{
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: burlywood;
    border-radius: 45px;
    border: groove gray 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}